# Product Recommendation

There are heaps of prediction models that can be developed in this space, all the way from sales forecasts to advertising. But it wouldn't be right if we didn't try to implement the sexiest model going around; product recommendation using collaborative filtering. Let's dive in.

In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np
from scipy.sparse import coo_matrix
from sklearn.model_selection import train_test_split
from tensorflow.contrib.factorization.python.ops import factorization_ops
import logging
np.set_printoptions(suppress=True)

In [2]:
logger = logging.getLogger('tensorflow')
logger.setLevel(logging.DEBUG)

In [3]:
customer = pd.read_csv("data/customer.csv")
product = pd.read_csv("data/product.csv")
transaction = pd.read_csv("data/transaction.csv").rename(columns={'\ufeffSalesID':'SalesID'}) # Column rename.
customer.head(5)

,﻿CustomerID,FirstName,MiddleInitial,LastName,CityID,Address
0,1,Stefanie,Y,Frye,79,97 Oak Avenue
1,2,Sandy,T,Kirby,96,52 White First Freeway
2,3,Lee,T,Zhang,55,921 White Fabien Avenue
3,4,Regina,S,Avery,40,75 Old Avenue
4,5,Daniel,S,Mccann,2,283 South Green Hague Avenue

In [4]:
product.head(5)

,﻿ProductID,ProductName,Price,CategoryID,Class,ModifyDate,Resistant,IsAllergic,VitalityDays
0,1,Flour - Whole Wheat,"74,2988",3,Medium,2018-02-16 08:21:49.190,Durable,NaN,NaN
1,2,Cookie Chocolate Chip With,"91,2329",3,Medium,2017-02-12 11:39:10.970,NaN,NaN,NaN
2,3,Onions - Cippolini,"9,1379",9,Medium,2018-03-15 08:11:51.560,Weak,False,111.0
3,4,"Sauce - Gravy, Au Jus, Mix","54,3055",9,Medium,2017-07-16 00:46:28.880,Durable,NaN,NaN
4,5,Artichokes - Jerusalem,"65,4771",2,Low,2017-08-16 14:13:35.430,Durable,True,27.0

In [5]:
transaction.head(5)

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber
0,1,6,27039,381,7,NaN,"0,00",2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G
1,2,16,25011,61,7,NaN,"0,00",2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8
2,3,13,94024,23,24,NaN,"0,00",2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0
3,4,8,73966,176,19,0.2,"0,00",2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE
4,5,10,32653,310,9,NaN,"0,00",2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3

Colaborative filtering is usually implemented via matrix factorisation, so we need to convert this data set into a essentially a massive sparse matrix.

In [6]:
transaction.columns.values

array(['SalesID', 'SalesPersonID', 'CustomerID', 'ProductID', 'Quantity',
       'Discount', 'TotalPrice', 'SalesDate', 'TransactionNumber'],
      dtype=object)

In [6]:
# Subset the sales to customer and product.
tx_minimal = transaction[['CustomerID','ProductID']]
tx_minimal.head()

   CustomerID  ProductID
0       27039        381
1       25011         61
2       94024         23
3       73966        176
4       32653        310

In [7]:
# Get the counts for customers and products
n_customers = len(tx_minimal['CustomerID'].unique())
n_products = len(tx_minimal['ProductID'].unique())
print(n_customers, n_products)

98759 452

In [ ]:
# Check the min customer and product id
print("Min_customer: {0} \n Min_Product: {1}".format(tx_minimal[['CustomerID']].min(), tx_minimal[['ProductID']].min()))

Min_customer: CustomerID    1
dtype: int64
 Min_Product: ProductID    1
dtype: int64

In [ ]:
# Make the customers zero indexed for matrix operations
def map_identifier(identifier):
    return identifier - 1

tx_minimal = tx_minimal.apply(map_identifier)

In [ ]:
print("Min_customer: {0} \n Min_Product: {1}".format(tx_minimal[['CustomerID']].min(), tx_minimal[['ProductID']].min()))

Min_customer: CustomerID    0
dtype: int64
 Min_Product: ProductID    0
dtype: int64

In [ ]:
tx_matrix = tx_minimal.as_matrix()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [ ]:
tx_matrix

array([[27038,   380],
       [25010,    60],
       [94023,    22],
       ...,
       [44736,   377],
       [79524,    76],
       [95837,   401]])

In [ ]:
# Append a column of 1s to signify that this user bought this product
bought = np.ones((tx_matrix.shape[0],3))
bought[:,:-1] = tx_matrix
tx_matrix = bought.astype(int)
tx_matrix

array([[27038,   380,     1],
       [25010,    60,     1],
       [94023,    22,     1],
       ...,
       [44736,   377,     1],
       [79524,    76,     1],
       [95837,   401,     1]])

In [ ]:
tr_m, ts_m = train_test_split(tx_matrix,test_size = 0.1)

In [ ]:
tr_m.shape

(900000, 3)

In [ ]:
ts_m.shape

(100000, 3)

In [ ]:
c_tr , p_tr, b_tr = zip(*tr_m)

In [ ]:
tr_sparse = coo_matrix((b_tr, (c_tr, p_tr)), shape=(n_customers, n_products))

In [ ]:
input_tensor = tf.SparseTensor(indices=list(zip(tr_sparse.row,tr_sparse.col))
                               ,values=(tr_sparse.data).astype(np.float32)
                               ,dense_shape=tr_sparse.shape)

In [ ]:
model = factorization_ops.WALSModel(tr_sparse.shape[0],tr_sparse.shape[1], 10)

WARNING:tensorflow:From /usr/local/lib/python3.5/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [ ]:
row_factor = model.row_factors[0]
col_factor = model.col_factors[0]

In [ ]:
# Train the Model
row_update_op = model.update_row_factors(sp_input = input_tensor)[0]
col_update_op = model.update_col_factors(sp_input = input_tensor)[1]

In [ ]:
with tf.Session() as sess:
    sess.run(model.initialize_op)
    sess.run(model.worker_init)
    
    for _ in range(2000):
        logger.debug("running iter {0}".format(_))
        sess.run(model.row_update_prep_gramian_op)
        sess.run(model.initialize_row_update_op)
        sess.run(row_update_op)
        sess.run(model.col_update_prep_gramian_op)
        sess.run(model.initialize_col_update_op)
        sess.run(col_update_op)
        
        output_row = row_factor.eval(session=sess)
        output_col = col_factor.eval(session=sess)

DEBUG:tensorflow:running iter 0
DEBUG:tensorflow:running iter 1
DEBUG:tensorflow:running iter 2
DEBUG:tensorflow:running iter 3
DEBUG:tensorflow:running iter 4
DEBUG:tensorflow:running iter 5
DEBUG:tensorflow:running iter 6
DEBUG:tensorflow:running iter 7
DEBUG:tensorflow:running iter 8
DEBUG:tensorflow:running iter 9
DEBUG:tensorflow:running iter 10
DEBUG:tensorflow:running iter 11
DEBUG:tensorflow:running iter 12
DEBUG:tensorflow:running iter 13
DEBUG:tensorflow:running iter 14
DEBUG:tensorflow:running iter 15
DEBUG:tensorflow:running iter 16
DEBUG:tensorflow:running iter 17
DEBUG:tensorflow:running iter 18
DEBUG:tensorflow:running iter 19
DEBUG:tensorflow:running iter 20
DEBUG:tensorflow:running iter 21
DEBUG:tensorflow:running iter 22
DEBUG:tensorflow:running iter 23
DEBUG:tensorflow:running iter 24
DEBUG:tensorflow:running iter 25
DEBUG:tensorflow:running iter 26
DEBUG:tensorflow:running iter 27
DEBUG:tensorflow:running iter 28
DEBUG:tensorflow:running iter 29
DEBUG:tensorflow:running iter 30
DEBUG:tensorflow:running iter 31
DEBUG:tensorflow:running iter 32
DEBUG:tensorflow:running iter 33
DEBUG:tensorflow:running iter 34
DEBUG:tensorflow:running iter 35
DEBUG:tensorflow:running iter 36
DEBUG:tensorflow:running iter 37
DEBUG:tensorflow:running iter 38
DEBUG:tensorflow:running iter 39
DEBUG:tensorflow:running iter 40
DEBUG:tensorflow:running iter 41
DEBUG:tensorflow:running iter 42
DEBUG:tensorflow:running iter 43
DEBUG:tensorflow:running iter 44
DEBUG:tensorflow:running iter 45
DEBUG:tensorflow:running iter 46
DEBUG:tensorflow:running iter 47
DEBUG:tensorflow:running iter 48
DEBUG:tensorflow:running iter 49
DEBUG:tensorflow:running iter 50
DEBUG:tensorflow:running iter 51
DEBUG:tensorflow:running iter 52
DEBUG:tensorflow:running iter 53
DEBUG:tensorflow:running iter 54
DEBUG:tensorflow:running iter 55
DEBUG:tensorflow:running iter 56
DEBUG:tensorflow:running iter 57
DEBUG:tensorflow:running iter 58
DEBUG:tensorflow:running iter 59
DEBUG:tensorflow:running iter 60
DEBUG:tensorflow:running iter 61
DEBUG:tensorflow:running iter 62
DEBUG:tensorflow:running iter 63
DEBUG:tensorflow:running iter 64
DEBUG:tensorflow:running iter 65
DEBUG:tensorflow:running iter 66
DEBUG:tensorflow:running iter 67
DEBUG:tensorflow:running iter 68
DEBUG:tensorflow:running iter 69
DEBUG:tensorflow:running iter 70
DEBUG:tensorflow:running iter 71
DEBUG:tensorflow:running iter 72
DEBUG:tensorflow:running iter 73
DEBUG:tensorflow:running iter 74
DEBUG:tensorflow:running iter 75
DEBUG:tensorflow:running iter 76
DEBUG:tensorflow:running iter 77
DEBUG:tensorflow:running iter 78
DEBUG:tensorflow:running iter 79
DEBUG:tensorflow:running iter 80
DEBUG:tensorflow:running iter 81
DEBUG:tensorflow:running iter 82
DEBUG:tensorflow:running iter 83
DEBUG:tensorflow:running iter 84
DEBUG:tensorflow:running iter 85
DEBUG:tensorflow:running iter 86
DEBUG:tensorflow:running iter 87
DEBUG:tensorflow:running iter 88
DEBUG:tensorflow:running iter 89
DEBUG:tensorflow:running iter 90
DEBUG:tensorflow:running iter 91
DEBUG:tensorflow:running iter 92
DEBUG:tensorflow:running iter 93
DEBUG:tensorflow:running iter 94
DEBUG:tensorflow:running iter 95
DEBUG:tensorflow:running iter 96
DEBUG:tensorflow:running iter 97
DEBUG:tensorflow:running iter 98
DEBUG:tensorflow:running iter 99
DEBUG:tensorflow:running iter 100
DEBUG:tensorflow:running iter 101
DEBUG:tensorflow:running iter 102
DEBUG:tensorflow:running iter 103
DEBUG:tensorflow:running iter 104
DEBUG:tensorflow:running iter 105
DEBUG:tensorflow:running iter 106
DEBUG:tensorflow:running iter 107
DEBUG:tensorflow:running iter 108
DEBUG:tensorflow:running iter 109
DEBUG:tensorflow:running iter 110
DEBUG:tensorflow:running iter 111
DEBUG:tensorflow:running iter 112
DEBUG:tensorflow:running iter 113
DEBUG:tensorflow:running iter 114
DEBUG:tensorflow:running iter 115
DEBUG:tensorflow:running iter 116
DEBUG:tensorflow:running iter 117
DEBUG:tensorflow:running iter 118
DEBUG:tensorflow:running iter 119
DEBUG:tensorflow:running iter 120
DEBUG:tensorflow:running iter 121
DEBUG:tensorflow:running iter 122
DEBUG:tensorflow:running iter 123
DEBUG:tensorflow:running iter 124
DEBUG:tensorflow:running iter 125
DEBUG:tensorflow:running iter 126
DEBUG:tensorflow:running iter 127
DEBUG:tensorflow:running iter 128
DEBUG:tensorflow:running iter 129
DEBUG:tensorflow:running iter 130
DEBUG:tensorflow:running iter 131
DEBUG:tensorflow:running iter 132
DEBUG:tensorflow:running iter 133
DEBUG:tensorflow:running iter 134
DEBUG:tensorflow:running iter 135
DEBUG:tensorflow:running iter 136
DEBUG:tensorflow:running iter 137
DEBUG:tensorflow:running iter 138
DEBUG:tensorflow:running iter 139
DEBUG:tensorflow:running iter 140
DEBUG:tensorflow:running iter 141
DEBUG:tensorflow:running iter 142
DEBUG:tensorflow:running iter 143
DEBUG:tensorflow:running iter 144
DEBUG:tensorflow:running iter 145
DEBUG:tensorflow:running iter 146
DEBUG:tensorflow:running iter 147
DEBUG:tensorflow:running iter 148
DEBUG:tensorflow:running iter 149
DEBUG:tensorflow:running iter 150
DEBUG:tensorflow:running iter 151
DEBUG:tensorflow:running iter 152
DEBUG:tensorflow:running iter 153
DEBUG:tensorflow:running iter 154
DEBUG:tensorflow:running iter 155
DEBUG:tensorflow:running iter 156
DEBUG:tensorflow:running iter 157
DEBUG:tensorflow:running iter 158
DEBUG:tensorflow:running iter 159
DEBUG:tensorflow:running iter 160
DEBUG:tensorflow:running iter 161
DEBUG:tensorflow:running iter 162
DEBUG:tensorflow:running iter 163
DEBUG:tensorflow:running iter 164
DEBUG:tensorflow:running iter 165
DEBUG:tensorflow:running iter 166
DEBUG:tensorflow:running iter 167
DEBUG:tensorflow:running iter 168
DEBUG:tensorflow:running iter 169
DEBUG:tensorflow:running iter 170
DEBUG:tensorflow:running iter 171
DEBUG:tensorflow:running iter 172
DEBUG:tensorflow:running iter 173
DEBUG:tensorflow:running iter 174
DEBUG:tensorflow:running iter 175
DEBUG:tensorflow:running iter 176
DEBUG:tensorflow:running iter 177
DEBUG:tensorflow:running iter 178
DEBUG:tensorflow:running iter 179
DEBUG:tensorflow:running iter 180
DEBUG:tensorflow:running iter 181
DEBUG:tensorflow:running iter 182
DEBUG:tensorflow:running iter 183
DEBUG:tensorflow:running iter 184
DEBUG:tensorflow:running iter 185
DEBUG:tensorflow:running iter 186
DEBUG:tensorflow:running iter 187
DEBUG:tensorflow:running iter 188
DEBUG:tensorflow:running iter 189
DEBUG:tensorflow:running iter 190
DEBUG:tensorflow:running iter 191
DEBUG:tensorflow:running iter 192
DEBUG:tensorflow:running iter 193
DEBUG:tensorflow:running iter 194
DEBUG:tensorflow:running iter 195
DEBUG:tensorflow:running iter 196
DEBUG:tensorflow:running iter 197
DEBUG:tensorflow:running iter 198
DEBUG:tensorflow:running iter 199
DEBUG:tensorflow:running iter 200
DEBUG:tensorflow:running iter 201
DEBUG:tensorflow:running iter 202
DEBUG:tensorflow:running iter 203
DEBUG:tensorflow:running iter 204
DEBUG:tensorflow:running iter 205
DEBUG:tensorflow:running iter 206
DEBUG:tensorflow:running iter 207
DEBUG:tensorflow:running iter 208
DEBUG:tensorflow:running iter 209
DEBUG:tensorflow:running iter 210
DEBUG:tensorflow:running iter 211
DEBUG:tensorflow:running iter 212
DEBUG:tensorflow:running iter 213
DEBUG:tensorflow:running iter 214
DEBUG:tensorflow:running iter 215
DEBUG:tensorflow:running iter 216
DEBUG:tensorflow:running iter 217
DEBUG:tensorflow:running iter 218
DEBUG:tensorflow:running iter 219
DEBUG:tensorflow:running iter 220
DEBUG:tensorflow:running iter 221
DEBUG:tensorflow:running iter 222
DEBUG:tensorflow:running iter 223
DEBUG:tensorflow:running iter 224
DEBUG:tensorflow:running iter 225
DEBUG:tensorflow:running iter 226
DEBUG:tensorflow:running iter 227
DEBUG:tensorflow:running iter 228
DEBUG:tensorflow:running iter 229
DEBUG:tensorflow:running iter 230
DEBUG:tensorflow:running iter 231
DEBUG:tensorflow:running iter 232
DEBUG:tensorflow:running iter 233
DEBUG:tensorflow:running iter 234
DEBUG:tensorflow:running iter 235
DEBUG:tensorflow:running iter 236
DEBUG:tensorflow:running iter 237
DEBUG:tensorflow:running iter 238
DEBUG:tensorflow:running iter 239
DEBUG:tensorflow:running iter 240
DEBUG:tensorflow:running iter 241
DEBUG:tensorflow:running iter 242
DEBUG:tensorflow:running iter 243
DEBUG:tensorflow:running iter 244

DEBUG:tensorflow:running iter 245
DEBUG:tensorflow:running iter 246
DEBUG:tensorflow:running iter 247
DEBUG:tensorflow:running iter 248
DEBUG:tensorflow:running iter 249
DEBUG:tensorflow:running iter 250
DEBUG:tensorflow:running iter 251
DEBUG:tensorflow:running iter 252
DEBUG:tensorflow:running iter 253
DEBUG:tensorflow:running iter 254
DEBUG:tensorflow:running iter 255
DEBUG:tensorflow:running iter 256
DEBUG:tensorflow:running iter 257
DEBUG:tensorflow:running iter 258
DEBUG:tensorflow:running iter 259
DEBUG:tensorflow:running iter 260
DEBUG:tensorflow:running iter 261
DEBUG:tensorflow:running iter 262
DEBUG:tensorflow:running iter 263
DEBUG:tensorflow:running iter 264
DEBUG:tensorflow:running iter 265
DEBUG:tensorflow:running iter 266
DEBUG:tensorflow:running iter 267
DEBUG:tensorflow:running iter 268
DEBUG:tensorflow:running iter 269
DEBUG:tensorflow:running iter 270
DEBUG:tensorflow:running iter 271
DEBUG:tensorflow:running iter 272
DEBUG:tensorflow:running iter 273
DEBUG:tensorflow:running iter 274
DEBUG:tensorflow:running iter 275
DEBUG:tensorflow:running iter 276
DEBUG:tensorflow:running iter 277
DEBUG:tensorflow:running iter 278
DEBUG:tensorflow:running iter 279
DEBUG:tensorflow:running iter 280
DEBUG:tensorflow:running iter 281
DEBUG:tensorflow:running iter 282
DEBUG:tensorflow:running iter 283
DEBUG:tensorflow:running iter 284
DEBUG:tensorflow:running iter 285
DEBUG:tensorflow:running iter 286
DEBUG:tensorflow:running iter 287
DEBUG:tensorflow:running iter 288
DEBUG:tensorflow:running iter 289
DEBUG:tensorflow:running iter 290
DEBUG:tensorflow:running iter 291
DEBUG:tensorflow:running iter 292
DEBUG:tensorflow:running iter 293
DEBUG:tensorflow:running iter 294
DEBUG:tensorflow:running iter 295
DEBUG:tensorflow:running iter 296
DEBUG:tensorflow:running iter 297
DEBUG:tensorflow:running iter 298
DEBUG:tensorflow:running iter 299
DEBUG:tensorflow:running iter 300
DEBUG:tensorflow:running iter 301
DEBUG:tensorflow:running iter 302
DEBUG:tensorflow:running iter 303
DEBUG:tensorflow:running iter 304
DEBUG:tensorflow:running iter 305
DEBUG:tensorflow:running iter 306
DEBUG:tensorflow:running iter 307
DEBUG:tensorflow:running iter 308
DEBUG:tensorflow:running iter 309
DEBUG:tensorflow:running iter 310
DEBUG:tensorflow:running iter 311
DEBUG:tensorflow:running iter 312
DEBUG:tensorflow:running iter 313
DEBUG:tensorflow:running iter 314
DEBUG:tensorflow:running iter 315
DEBUG:tensorflow:running iter 316
DEBUG:tensorflow:running iter 317
DEBUG:tensorflow:running iter 318
DEBUG:tensorflow:running iter 319
DEBUG:tensorflow:running iter 320
DEBUG:tensorflow:running iter 321
DEBUG:tensorflow:running iter 322
DEBUG:tensorflow:running iter 323
DEBUG:tensorflow:running iter 324
DEBUG:tensorflow:running iter 325
DEBUG:tensorflow:running iter 326
DEBUG:tensorflow:running iter 327
DEBUG:tensorflow:running iter 328
DEBUG:tensorflow:running iter 329
DEBUG:tensorflow:running iter 330
DEBUG:tensorflow:running iter 331
DEBUG:tensorflow:running iter 332
DEBUG:tensorflow:running iter 333
DEBUG:tensorflow:running iter 334
DEBUG:tensorflow:running iter 335
DEBUG:tensorflow:running iter 336
DEBUG:tensorflow:running iter 337
DEBUG:tensorflow:running iter 338
DEBUG:tensorflow:running iter 339
DEBUG:tensorflow:running iter 340
DEBUG:tensorflow:running iter 341
DEBUG:tensorflow:running iter 342
DEBUG:tensorflow:running iter 343
DEBUG:tensorflow:running iter 344
DEBUG:tensorflow:running iter 345
DEBUG:tensorflow:running iter 346
DEBUG:tensorflow:running iter 347
DEBUG:tensorflow:running iter 348
DEBUG:tensorflow:running iter 349
DEBUG:tensorflow:running iter 350
DEBUG:tensorflow:running iter 351
DEBUG:tensorflow:running iter 352
DEBUG:tensorflow:running iter 353
DEBUG:tensorflow:running iter 354
DEBUG:tensorflow:running iter 355
DEBUG:tensorflow:running iter 356
DEBUG:tensorflow:running iter 357
DEBUG:tensorflow:running iter 358
DEBUG:tensorflow:running iter 359
DEBUG:tensorflow:running iter 360
DEBUG:tensorflow:running iter 361
DEBUG:tensorflow:running iter 362
DEBUG:tensorflow:running iter 363
DEBUG:tensorflow:running iter 364
DEBUG:tensorflow:running iter 365
DEBUG:tensorflow:running iter 366
DEBUG:tensorflow:running iter 367
DEBUG:tensorflow:running iter 368
DEBUG:tensorflow:running iter 369
DEBUG:tensorflow:running iter 370
DEBUG:tensorflow:running iter 371
DEBUG:tensorflow:running iter 372
DEBUG:tensorflow:running iter 373
DEBUG:tensorflow:running iter 374
DEBUG:tensorflow:running iter 375
DEBUG:tensorflow:running iter 376
DEBUG:tensorflow:running iter 377
DEBUG:tensorflow:running iter 378
DEBUG:tensorflow:running iter 379
DEBUG:tensorflow:running iter 380
DEBUG:tensorflow:running iter 381
DEBUG:tensorflow:running iter 382
DEBUG:tensorflow:running iter 383
DEBUG:tensorflow:running iter 384
DEBUG:tensorflow:running iter 385
DEBUG:tensorflow:running iter 386
DEBUG:tensorflow:running iter 387
DEBUG:tensorflow:running iter 388
DEBUG:tensorflow:running iter 389
DEBUG:tensorflow:running iter 390
DEBUG:tensorflow:running iter 391
DEBUG:tensorflow:running iter 392
DEBUG:tensorflow:running iter 393
DEBUG:tensorflow:running iter 394
DEBUG:tensorflow:running iter 395
DEBUG:tensorflow:running iter 396
DEBUG:tensorflow:running iter 397
DEBUG:tensorflow:running iter 398
DEBUG:tensorflow:running iter 399
DEBUG:tensorflow:running iter 400
DEBUG:tensorflow:running iter 401
DEBUG:tensorflow:running iter 402
DEBUG:tensorflow:running iter 403
DEBUG:tensorflow:running iter 404
DEBUG:tensorflow:running iter 405

In [ ]:
output_row.shape

In [ ]:
# Predict 
user_id = 33633
user_factor = output_row[user_id]

In [ ]:
pred = output_col.dot(user_factor)

In [ ]:
candidate_items = np.argsort(pred)

In [ ]:
candidate_items

In [ ]:
10 + len([3,4,5])

In [ ]:
candidate_items[-13:]

In [ ]:
product[product['\ufeffProductID'] == 342]

In [ ]:
product.columns.values

In [ ]:
ts_m